<head>
<!-- Load the Paper.js library -->
<script type="text/javascript" src="../js/paper.js"></script>
<!-- Define inlined PaperScript associate it with myCanvas -->
<script type="text/paperscript" canvas="myCanvas">
<!-- 	var path;

	// Only execute onMouseDrag when the mouse
	// has moved at least 10 points:
	tool.distanceThreshold = 10;

	tool.onMouseDown = function(event) {
	    // Create a new path every time the mouse is clicked
	    path = new Path();
	    path.add(event.point);
	    path.strokeColor = 'black';
	}

	tool.onMouseDrag = function(event) {
	    // Add a point to the path every time the mouse is dragged
	    path.add(event.point);
	}

	//project.activelayers -->
</script>
</head>
<body>
	<canvas id="myCanvas" resize></canvas>

	<form action="/gallery/create" method="post" enctype="multipart/form-data" id ="form">
		<input id="username" name="username" type="hidden">
	  	<input id="image" type="file" name="image" accepts="image/*">

	  <input type="submit">

	<!-- other form that instead of posting saves? -->
	</form action="/gallery/create" method="post" enctype="multipart/form-data" id ="form">
	<input type="save">
	</form>
</body>
</html>