<head>
<!-- Load the Paper.js library -->
<script type="text/javascript" src="/javascript/paper-full.min.js"></script>
<!-- Define inlined PaperScript associate it with myCanvas -->
<script type="text/paperscript" canvas="myCanvas">
// project.importSVG(document.getElementById('svg'));
// <svg version="1.1" id="svg" <svg xmlns="img/starter.svg" xmlns:xlink="img/starter.svg" width="595" height="800">
// <symbol id="#circle" viewBox="0 0 48 48" overflow="visible">
// 	<path fill="#FF0049" d="M24, 0c0-13.255-10.745-24-24-24S-24-13.255-24,0s10.725,24,24,24S24,13.255,24,0Z"/>
// </symbol>
// <use xlink:href=#circle" width="48" height="48" x="-24" transform="maxtrix(1.16671.1667 1.667 -1.1667 177.0005 96)"/>




	// load and place image
	
	 // var secondLayer = new paper.layer();
	 // secondLayer.activate();

	 // svg attempts:
	 var svg = project.importSVG('img/starter.svg');

	 // drawing stuff
	    var path;
	    

	    // Only execute onMouseDrag when the mouse
	    // has moved at least 10 points:
	    tool.distanceThreshold = 10;

	    tool.onMouseDown = function(event) {
	        // Create a new path every time the mouse is clicked
	        path = new Path();
	        path.add(event.point);
	        path.strokeColor = new Color(0);
	        path.strokeColor.alpha = 0.5;
	        path.fillColor.alpha = .5; 
	        closed: true;

	    path.fullySelected = true;
	    path.strokeCap = 'round';
	    };




	    tool.onMouseDrag = function(event) {
	        // Add a point to the path every time the mouse is dragged
	        path.add(event.point);
	    }

	    tool.onMouseUp = function(event) {
	        path.selected = false;
	        path.smooth();
	    }

	//functions from p5


	//make slider
	$('#stroke-weight').change(function(e) { 
	        path.strokeWidth = e.target.valueAsNumber; 
	});

	$('#stroke-color').change(function(e) { 
	        path.strokeColor = e.target.valueAsNumber; 
	});

	$('#opacity').change(function(e) { 
	        path.strokeColor.alpha = e.target.valueAsNumber; 
	        path.fillColor.alpha = e.target.valueAsNumber; 
	});


</script>
</head>
<body>




	
	<!-- other form that instead of posting saves? -->
{{!-- 	</form action="/gallery/create" method="post" enctype="multipart/form-data" id ="form">
		<input type="save">
			<button class ="ui button"><input type="submit"></button>
		<input type="submit">	
		<button class ="ui button"><input type="submit"></button>

	</form>
 --}}

 
<div id="wholeShabang" style="margin-top: 400px;">

<div id="theCanvas" style="position: top: 4000px; padding-right: 5%; float: left; height: 80% width: 1000px;">
	<canvas id="myCanvas" resize style=" height: 100%; width: 800px; position: relative; left: 10%; border: 5px solid black; text-align: center; "></canvas>
</div>
<div id="menu" style="position: relative;"> 
	<ul style = "list-style: none; display: inline-block; float: left;">
		<li><h2>thickness</h2>
		        <input id="stroke-weight" type="range" min="1" max="10" value="0" step="1" /> 
		</li> 

		<li> 
		<h2>brightness</h2>
		        <input id="stroke-color" type="range" min="0" max="1" value="0" step="0.1" /> 
		</li> 

		<li> 
		<h2>opacity</h2>
		        <input id="opacity" type="range" min="0" max="1" value="0" step="0.1" /> 
		</li> 
		<ul>
		<form action="/gallery/create" method="post" enctype="multipart/form-data" id ="form">
			<input id="username" name="username" type="hidden">
			<input label="save" type="save">
			<input label="save" type="submit">	
		</form>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

</body>
</html>