<h1>Gallery</h1>
<div id="explanation" style=" left-margin: 20%; right-margin: 20%;">
<h2>Every month (or so), a new blob is released! This is your opportunity to get creative and make it into whatever you want! Is it a bird? A plane? An Alien? That's up to you! Here you can check out previous submissions to get a gist of what this whole thing is about!<h2>
</div>
{{!-- {{#each Cheeses}}

	<div class="the-sketch">
		{{#if submitted}}
			<div class="imageGallery">
        <img src="/uploads/{{filename}}">
      </div>
		{{/if}}
	</div>
{{/each}}
 --}}

{{!--     {{#if submitted}}
        <img src="/uploads/{{filename}}"/>
    {{/if}}
 --}}

<div class="ui three column grid">
  <div class="column">
    <div class="ui segment">
      {{#if submitted}}
        <img src="/uploads/{{filename}}"/>
      {{/if}}
    </div>
  </div>
</div>




