<h1>This is the gallery!!</h1>
{{#each Cheeses}}

	<div class="the-sketch">
		{{#if filename}}
			<div class="imageGallery"><img src="/uploads/{{filename}}"></div>
		{{/if}}
		<h3>{{tag}}</h3>
	</div>
{{/each}}

<div class="ui three column grid">
  <div class="column">
    <div class="ui segment">
      <img>
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      <img>
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      <img>
    </div>
  </div>
</div>