<h1>{{header}}</h1>

<div class = "ui grid">
	<div class = "three column row"> 
		<div class="column"></div>
		<div class="column">
			<form class="ui form" method="post" >
			  
				<div class="field">
					<label>Username</label>
					<input type="text" name="username" placeholder="username">
				</div>

				<div class="field">
					<label>Password</label>
					<input type="password" name="password" placeholder="password">
				</div>
				<button class="ui button" type="submit">Submit</button>
			</form>
		</div>
		<div class="column"></div>
	</div>
</div>